body * {
  border:0px;
  
}

a{
  cursor: pointer;
  text-decoration: underline;
}
.hide{
  display:none
}
.container{
  display:flex;
  justify-content:space-around;
}
.chat-form,.talking-area{
  border-radius:10px;
  
}
.buttons-field{
max-width:600px;  
margin:10px auto;
text-align: center;
padding:10px;
}
.bongo .buttons-field{
  background-color: orange;
}
.dongo .buttons-field{
  background-color: yellowgreen;
}

.chat-form{
  display:flex;
  width:80%;
  padding:10px 40px;
  justify-content: center;
  }

  .buttons-field>form * {
  padding:10px;

   font:2em verdana,arial,sans-serif;

 } 
.buttons-field>form>input{
  max-width:80%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;  
  height:50px;
  vertical-align: bottom;
  line-height: 40px;
}
.buttons-field>.username-form>input{
  height:40px;
}
.buttons-field button{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;  
  
  font-size:2em;
}
.talking-area{
  margin:auto;
  width:500px;
  height:500px;
  padding:15px;
  font:1.5em arial,sans-serif;
  background-color: rgb(47, 179, 255);
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.talking-area ul{
  list-style: none;
  width:100%;
}
.talking-area header{
  height:50px;
}
.talking-area .human-msg{
  color: rgb(255, 217, 0);
}
.talking-area .bot-msg{
  color: rgb(215, 255, 163);
}
.talking-area .freddo-msg{
  color: rgb(255, 203, 203);
}
.chat-form>.username-change{
  transition:transform 100ms ease-in;
}
.username-change.slide-out{
  transform:translateX(220px);
}
.username-change.slide-in{
  transform:translateX(-220px);
}